$white: #fff;
$gray: #dee7f0;
$grayLight: #f1f2f4;
$bodyBackground: rgb(252, 222, 222);
$grayDark: #999999;

$productBorderWrapper: rgb(255, 93, 93);
$productBorderWrapperRadius: 0;
$productWrapperBackground: #fff;