$white: #fff;
$gray: #dee7f0;
$grayLight: #f1f2f4;
$bodyBackground: #dcdcdc;;
$grayDark: #999999;

$productBorderWrapper: rgb(158, 154, 154);
$productBorderWrapperRadius: 10px;
$productWrapperBackground: #fff;
